*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.calculator-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10rem 0rem;
}
.buttons-container{
    width: 80%;
}
.calculator-item{
    text-align: center;
    padding-top: 1.5rem;
    background-color: lightgray;
}
/*.input-box{
    height: 50px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.input-div{
    margin-top: 0;
}*/
.operation{

    background-color: lightcoral;
}
.dark{
    background-color: black;
    color: white;
    border: white;
    border: solid 1px;
    opacity: 1;
}
/*.dark-light-mode{
    width: 10em;
    height: 5em;
    text-align: center;
    padding-top: 3em;
}*/
.mode{
    font-size: 60px;
}
.fa-moon{
    display: block;
}
.fa-sun{
    display: none;
}
.input-box{
    height: 50px;
    /*border: 1px solid rgba(0,0,0,.125);*/
    border-radius: 0.25rem;
    width: 100%;
    /*border: rgba(0,0,0, 0.125);
    border: solid 1px;*/
    /*opacity: .125;*/
    font-size: 2rem;
}
.input-div{
    margin-top: 0;
    height: 50px;
}
.dark{
    background-color: black;
    color: white;
    border: white;
    border: solid 1px;
    opacity: 1;
}